<% form_for forum_topic do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field( :forum_id ) if forum_topic.new_record? %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit forum_topic.new_record? ? "Создать" : "Обновить" %>
  </p>
<% end %>
