<% form_for :topic, topic,
          :url => ( topic.new_record? ? post_topic_path : topic_path(topic) ),
          :html => { :method => ( topic.new_record? ? :post : :put ) } do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field( :forum_id ) if topic.new_record? %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit topic.new_record? ? "Создать" : "Обновить" %>
  </p>
<% end %>
