<% @page_title = "Тема \"#{h( @forum_topic.title )}\"" %>
<h2>
  <%= forum_path_formatted @forum_topic.forum %>
  > <%= link_to_topic @forum_topic %>
</h2>

<div class="topic-description"><%=h( "(#{@forum_topic.description})" ) unless @forum_topic.description.empty? %></div>

<%= render :partial => "forum_posts/table", :locals => {:forum_posts => @forum_posts} %>

<%= link_to "Ответить", new_forum_post_path( @forum_topic ) %> |
<%= link_to 'Править', edit_forum_topic_path( @forum_topic ) %> |
<%= link_to "Вверх", forum_path( @forum_topic.forum ) %>
