<p>
  <b>Название:</b>
  <%=h @forum.title %>
</p>

<p>
  <b>Описание:</b>
  <%=h @forum.description %>
</p>

<%= render :partial => "table", :locals => {:forums => @children} %>

<%= link_to 'Новый форум', new_sub_forum_path( @forum ) %> |
<%= link_to 'Редактировать', edit_forum_path( @forum ) %> |
<%= link_to 'Вверх', forum_path( @forum.parent ) %> |
<%= button_to 'Удалить', forum_path( @forum ), :method => :delete %>
