<% @page_title = "Форум \"#{@forum.title}\"" %>

<h2><%= forum_path_formatted @forum %></h2>

<div class="forum-description"><%=h( "Описание: " + @forum.description ) if @forum.description %></div>

<% unless @children.empty? %>
  <h4>Подфорумы</h4>
  <%= render :partial => "table", :locals => {:forums => @children} %>
<% end %>

<% unless @forum_topics.empty? %>
  <h4>Темы</h4>
  <%= render :partial => "forum_topics/table", :locals => {:forum_topics => @forum_topics} %>
<% end %>

<%= link_to 'Новая тема', new_forum_topic_path( @forum ) %> |

<%= link_to 'Новый форум', new_sub_forum_path( @forum ) %> |
<%= link_to 'Править', edit_forum_path( @forum ) %> |
<%= link_to_forum @forum.parent, :caption => 'Вверх' %>
