<p>
  <b>Название:</b>
  <%=h @forum.title %>
</p>

<p>
  <b>Описание:</b>
  <%=h @forum.description %>
</p>

<h2>Подфорумы</h2>
<%= render :partial => "table", :locals => {:forums => @children} %>

<h2>Темы</h2>
<%= render :partial => "forum_topics/table", :locals => {:topics => @topics} %>

<%= link_to 'Новая тема', new_topic_path( @forum ) %> |

<%= link_to 'Новый форум', new_sub_forum_path( @forum ) %> |
<%= link_to 'Редактировать', edit_forum_path( @forum ) %> |
<%= link_to 'Вверх', forum_path( @forum.parent ) %> |
<%= button_to 'Удалить', forum_path( @forum ), :method => :delete %>
