<% @page_title = "Просмотр форума" %>
<h2>Форум "<%=h @forum.title %>"</h2>

<h4><%=h( "Описание: " + @forum.description ) if @forum.description %></h4>

<% unless @children.empty? %>
  <h3>Подфорумы</h3>
  <%= render :partial => "table", :locals => {:forums => @children} %>
<% end %>

<% unless @forum_topics %>
  <h3>Темы</h3>
  <%= render :partial => "forum_topics/table", :locals => {:forum_topics => @forum_topics} %>
<% end %>

<%= link_to 'Новая тема', new_forum_topic_path( @forum ) %> |

<%= link_to 'Новый форум', new_sub_forum_path( @forum ) %> |
<%= link_to 'Вверх', forum_path( @forum.parent ) %>
