<% @page_title = "Редактирование профиля" %>
<h2>Редактирование профиля и учетной записи</h2>

<% semantic_form_for @user, :url => user_url(@user) do |f| %>
<%# TODO: set sex default value to undefined %>
  <%= f.input :sex, :label => "Пол" %>
  <%= f.input :password, :hint => "вводите только если хотите сменить пароль" %>
  <%= f.input :password_confirmation %>
  <% f.buttons do %>
    <%= f.commit_button "Сохранить" %>
  <% end %>
<% end %>

<%= link_to "Мой профиль", user_url %>
