<% @page_title = "Регистрация" %>
<h2>Регистрация пользователя</h2>

<% semantic_form_for @user, :url => signup_url do |f| %>
  <%= f.input :login %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
<%# TODO: set sex default value to undefined %>
  <%= f.input :sex, :label => "Пол" %>
  <% f.buttons do %>
    <%= f.commit_button "Зарегистрироваться" %>
  <% end %>
<% end %>
