<% @page_title = "Расписание на неделю" %>

<h1>Расписание</h1>
<h2>Группа <%= link_to_group @group %></h2>
<h3>На неделю <%=h week_caption @week_start, :long %></h1>
<p>
  <%= link_to "Другое расписание", choose_schedule_path %> |
  <%= link_to_schedule @day, :day, :group => @group, :content => "На день" %>
</p>
<% prev_week = @week_start - 7.days %>
<% next_week = @week_start + 7.days %>
<%= link_to_schedule next_week, :week, :group => @group, :suffix => " >>", :style => "float:right;" %>
<%= link_to_schedule prev_week, :week, :group => @group, :prefix => "<< " %>
<br/>

<% if @no_week_schedule %>
  <%= render :partial => "no_schedule" %>
<% else %>
  <center>
    <%= render :partial => "week_table", :locals => {:lessons_batches => @lessons_batches} %>
  </center>
<% end %>

<%= link_to "Добавить", new_lesson_path + "&group_id=#{@group.id}" %> |
<%= link_to 'Назад', schedule_path %>
