<% @page_title = "Загрузки" %>
<h2>Загрузка "<%=h resource.name %>"</h2>

<% if resource.owner? current_user %>
<p>
  <%= link_to "Редактировать", edit_resource_path %>
</p>
<% end %>

<p>
  Этот файл <%= link_to_user resource.owner %> загрузил<%= gender( resource.owner, "", "а" ) %>
  <%= time_ago_in_words resource.created_at %> назад
  <br/>Его <%= download_counter resource %>
</p>
<% unless resource.description.empty? %>
  <p><strong>Описание:</strong> <i><%= add_br_to_text h(resource.description) %></i></p>
<% end %>
<p><strong>Исходное имя файла:</strong> <%=h resource.file.original_filename %></p>
<p><strong>Размер:</strong> <%= number_to_human_size resource.file.size %></p>
<p><strong>Тэги:</strong> <%= links_to_tags resource.tags %></p>
<p>
  <%= link_to( "Скачать", resource.file.url, :class => :download_button ) %>
</p>

<%= link_to 'К списку загрузок', collection_path %>
