<% @page_title = "Просмотр занятия" %>
<h2>Просмотр занятия</h2>
  <p>
    <b>Группа:</b>
    <%= link_to_group @lesson.group %>
  </p>
  <p>
    <b>Тип занятия:</b>
    <%= link_to_subject_type @lesson.subject_type, :subject, :lesson_type %>
  </p>
  <p>
    <b>День недели:</b>
    <%= day_of_week @lesson.day_of_week %> 
  </p>
  <p>
    <b>Время начала:</b>
    <%= @lesson.start_time.strftime "%H:%M" %>
  </p>
  <p>
    <b>Продолжительность:</b>
    <%= @lesson.duration_hour %> часов
    <%= @lesson.duration_min %> минут
  </p>
  <p>
    <b>Аудитория:</b>
    <%=h @lesson.room %>
  </p>
  <p>
    <b>Частота:</b>
    <% if @lesson.everyweek %>
      Еженедельно
    <% else %>
      <% if @lesson.odd_weeks %>
        По нечетным неделям
      <% else %>
        По четным неделям
      <% end %>
    <% end %>
  </p>

<%= link_to 'Править', edit_lesson_path(@lesson) %> |
<%= link_to 'Назад', schedule_path %>
