<% full_name = h( @teacher.name ) + " " + h( @teacher.surname ) %>
<% @page_title = "Преподаватель " + full_name %>
<h2>Информация о преподавателе</h2>
<p>
  <b>Полное имя:</b>
  <%= full_name %>
</p>

<% unless @teacher.phone.nil? %>
<p>
  <b>Телефон</b>
  <%=h @teacher.phone %>
</p>
<% end %>

<% unless @teacher.email.nil? %>
<p>
  <b>Email:</b>
  <%=h @teacher.email %>
</p>
<% end %>

<h3>Ведет следующие занятия:</h3>
<%= render  :partial => "lesson_subject_types/table",
            :locals => {:lesson_subject_types => @lesson_subject_types,
                        :format => [:lesson_type, :subject, :group] } %>

<%= link_to 'Править', edit_teacher_path(@teacher) %> |
<%= link_to 'Назад', teachers_path %>
