<tr>
  <td>
    <a name="post<%= forum_post.id %>"/>
    <b><%= link_to_user forum_post.user %></b><br/>
    <span class="time_small"><%= format_time forum_post.created_at %></span>
  </td>
  <td>
    <%= add_br_to_text( h forum_post.body ) %>
    <% unless forum_post.last_editor.nil? %>
      <br/><br/>
      <span class="post_edited">Редактировал: <%= link_to_user forum_post.last_editor %>, <%= format_time forum_post.updated_at %></span>
    <% end %>
  </td>
  <td align="center"><%= link_to 'Править', edit_forum_post_path( forum_post ) if  current_user %></td>
</tr>
