<% if current_user %>
    <p class="account_login">Вы вошли как <b><%= link_to_user current_user %></b></p>
    <ul class="account_actions">
        <li><%= link_to "профиль", profile_url %></li>
        <li><%= link_to "аккаунт", account_url %></li>
        <li><%= link_to "выйти", logout_url %></li>
    </ul>
<% else %>
    <p class="account_login">Вы не вошли на сайт.</p>
    <ul>
        <li><%= link_to "войти", login_url %></li>
        <li><%= link_to "зарегистрироваться", signup_url %></li>
    </ul>
<% end %>
