<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%=h @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag *%w{default formtastic} %>
    <!--[if lte IE 7]>
      <style type="text/css">
        .iefix {
          display: inline-block;
          width: 0;
          overflow: hidden;
          background: orange;
        }
      </style>
    <![endif]-->
    <!--[if lte IE 6]>
      <style type="text/css">

      </style>
    <![endif]-->
  </head>
  <body>
    <div class="outer-wrapper">
      <div class="header">
        <h1>– Эй, Студент, чем мы займемся сегодня вечером?<br/>– Тем же чем и вчера...</h1>
      </div>
      <div class="navbar">
        <ul>
          <li class="navitem" <%= navitem_state :discussion %>>
            <a href="">Поговорим</a>
          </li>
          <li class="navitem" <%= navitem_state :loads %>>
            <a href="">Покачаем</a>
          </li>
          <li class="navitem" <%= navitem_state :schedule %>>
            <a href="">Поучимся</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <%= flash_messages %>
        <%= yield :layout %>
      </div>
      <div class="footer">
        <a href="www.moonlighters.ru">Moonlighters</a>, 2009
      </div>
    </div>
  </body>
</html>
